@font-face {
    font-family: 'Gotham Pro';
    src: url('./fonts/ProximaNova-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('./fonts/ProximaNova-Extrabld.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('./fonts/ProximaNova-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

body {
    background-size: cover;
	overflow-x: none;
}

#dialog_container {
	font-family: 'Gotham Pro';
	color: #fff;
	letter-spacing: -0.2px;
	font-size: 0.82vw;
	background: #fcfcfc;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 1vw 1.5vw;
    min-width: 20vh;
    max-width: 100vh;
    width: auto;
	border-radius: 0.7vw;
}

.dialogHeader {
	font-size: 1.2vw;
	color: #f2133f;
	font-family: 'Gotham Pro';
	/* text-align: center; */
	letter-spacing: -0.5px;
	margin-bottom: 15px;
}

.buttons {
	margin-top: 15px;
	display: flex;
	justify-content: center;
	user-select: none;
}

.clickBtn {
	background: #ecf0f1;
	padding: 10px 14px;
	margin-right: 5px;
	margin-left: 5px;
    color: #303030;
	opacity: 1;
	border-radius: 6px;
	font-family: 'Gotham Pro';
	font-size: 0.95vw;
	transition: opacity 0.5s;
	/* width: 120px; */
    width: 100%;
	text-align: center;
}

.clickBtn:hover { background: #f2133f; color: #fff; }

.dialog_input {
	width: 100%;
	background-color: #fff;
	outline: 0;
	border: 1px solid rgba(58, 58, 58, 0.2);
	font-family: 'Proxima Nova Sm';
	padding: 10px 10px;
	margin-top: 10px;
	/* border-radius: 5px; */
	letter-spacing: -0.5px;
	font-size: 0.85vw;
	color: #255225;
}

.dialogItem {
	background-color: #fff;
	/* margin-bottom: 5px; */
	border: 1px solid rgba(30, 30, 30, 0.164);
    border-bottom: 0;
	padding: 11px 15px;
	text-align: center;
	min-width: 320px;
    color: #252525;
	/* border-radius: 5px; */
	font-family: 'Gotham Pro';
	letter-spacing: -0.5px;
	font-size: 15px;

	transition: 0.3s;
}

.dialogItem:last-child {
    border-bottom: 1px solid rgba(30, 30, 30, 0.164);
}

.dialogItem:hover {
    background-color: rgba(49, 49, 49, 0.075);
	/*color: #fff;*/
}

.tablist_headers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    align-self: end;
}

.dialogItemHeader {
    margin-left: 10px;
    min-width: 200px;
    margin-right: 10px;
}

.styleDialogTablist {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.85vw;
    color: #000;
    letter-spacing: -0.5px;
    opacity: 0.6;
    text-transform: uppercase;
    border-radius: 9px;

    transition: 0.5s;
    margin-bottom: 10px;
}

.dialogText {
	max-height: 500px;
	width: 100%;
    margin-bottom: 5px;
    color: #252525;
	font-family: 'Gotham Pro';
    overflow-y: auto;  
}

span {
	color: var(--i);
	transition: 0.4s;
}

.dialogItem:hover span {
  color: var(--g);
}

::-webkit-scrollbar {
    position: absolute;
    width: 3px;       
    right: 0;      
}

::-webkit-scrollbar-track {
    background: rgba(35, 36, 40, 0.15);     
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);  
}

.active_text {
	color: #fff;
	/*color: var(--b);*/
}

.white_back {
	background-color: #f2133f;
	color: #fff;
	border: 1px solid #f2133f;
}

.white_back:hover {
    background-color: #f2133f;
}

.white_back:hover span {
  color: #fff;
}

.noback {
	background: none;
	border: 0;
}