<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="speed.css">
    <link rel="stylesheet" href="notify.css">
    <link rel="stylesheet" href="dialog.css">
    <link rel="stylesheet" href="spectate.css">
    <link rel="stylesheet" href="js/speed1.css">
</head>
<body>
    <div class="hud-server-datetime">
        <div class="hud-server-time">
            <img src="img/time.png" width="25px">
            <div id="server-time">22:35</div>
        </div>
        <div class="hud-server-time">
            <img src="img/date.png" width="25px">
            <div id="server-date">10.01.2023</div>
        </div>
    </div>
    <div id="snow-animation-container"></div> 
    <div class="hud-container">
        <div class="hud-one-line">
            <img class="hud-server-logo" src="" width="75px">
            <div class="hud-server-name-block">
                <div class="hud-server-name">Test</div>
                <div class="hud-server-number"></div>
            </div>
        </div>
        <div class="hud-line"></div>
        <div class="hud-two-line">
            <div>
                <img id="fist" class="hud-server-fist" src="img/guns/24.png" width="80px">
                <div id="ammo_value_source" style="display: none;"></div>
                <div id="ammo_value" style="display: block;">10/10</div>
            </div>
            <div>
                <div class="progress-bar">
                    <progress id="hp_progress" value="30" max="200"></progress>
                    <div id="hp_value">30</div>
                </div>    
                <div class="progress-bar">
                    <progress id="arm_progress" value="70" max="200"></progress>
                    <div id="arm_value">70</div>
                </div>  
                <div class="progress-bar">
                    <progress id="run_progress" value="100" max="200"></progress>
                    <div id="run_value">100</div>
                </div>
                </div>                  
            </div>
        </div>
        <div class="hud-line" style="margin-top: 15px;"></div>
        <div id="hud-money" class="hud-money">100000₽</div>
    </div>
        <div id="suspect-block" class="hud-suspect-block">
            <div class="hud-suspect-text">Вы в розыске</div>
            <div class="hud-suspect-wanted">
                <img id="wanted_5" style="opacity: 0.5" src="img/wanted.png" width="25px">
                <img id="wanted_4" style="opacity: 0.5" src="img/wanted.png" width="25px">
                <img id="wanted_3" style="opacity: 0.5" src="img/wanted.png" width="25px">
                <img id="wanted_2" style="opacity: 0.5" src="img/wanted.png" width="25px">
                <img id="wanted_1" style="opacity: 0.5" src="img/wanted.png" width="25px">
                <img id="wanted_0" style="opacity: 0.5" src="img/wanted.png" width="25px">
            </div>
        </div>
        <div class="help-panel">
            </div>
        </div>
        <div id="notify-right-bock" style="display: none;">
            <div id="notify-bock-text"></div>
            <img src="img/notify/bock/notify1.png" width="30px" id="notify-right-img">
        </div>        
    </div>
    <div id="kill_list" class="kill-list">
    </div>
    <div id="capture-kill" style="display: none"></div>
    <div id="capture-info" style="display: none;">
        <div class="capture-one-command">
            <div class="capture-score" style="padding-right: 10px;" id="score-one">2</div>
            <div class="capture-name" id="name-one">Хукнет</div>
        </div>
        <div class="capture-center">
            <div id="capture-time">10:00</div>
            <div id="capture-time-text">продлений: 2</div>
        </div>
        <div class="capture-one-command">
            <div class="capture-name" style="padding-right: 10px;" id="name-two">Хукнет</div>
            <div class="capture-score" id="score-two">0</div>
        </div>        
    </div>


		  <div class="cefstudio-speedometer" v-if="isSpeedActive" v-cloak="">
            <div class="count-block">
                <p>{{ vehicleSpeed }}</p>
                <div class="gear-block">
                    <div class="gear" :class="{ active: vehicleGear === 'P' }">P</div>
                    <div class="gear" :class="{ active: vehicleGear === 'D' }">D</div>
                    <div class="gear" :class="{ active: vehicleGear === 'R' }">R</div>
                </div>
            </div>
            <img class="background" src="img/speed-bg-1.png">
            <svg class="speed" width="33vh" height="40vh" viewbox="0 0 280 60" fill="none">
                <path stroke-width="6" fill="none" d="M60.340,185.660 C18.553,143.874 18.553,76.126 60.340,34.340 C102.126,-7.447 169.874,-7.447 211.660,34.340 C253.446,76.126 253.446,143.874 211.660,185.660 "></path>
                <path id="speed" stroke="#f23856" stroke-width="6" fill="none" d="M60.340,185.660 C18.553,143.874 18.553,76.126 60.340,34.340 C102.126,-7.447 169.874,-7.447 211.660,34.340 C253.446,76.126 253.446,143.874 211.660,185.660" style="stroke-dasharray: 624.295, 504.295; stroke-dashoffset: 624.295;"></path>
            </svg>
            <div class="icon-block">
                <img v-if="isVehicleEngine" class="icon" src="img/speed/engine_on-1.png" style="width: 2.9vh; height: 1.9vh;">
                <img v-else="" class="icon" src="img/speed/engine-1.png" style="width: 2.9vh; height: 1.9vh;">
                <img v-if="isVehicleLights" class="icon" src="img/speed/lights_on-1.png" style="width: 2.5vh; height: 1.5vh; top: 0.3vh; left: 0.1vh;">
                <img v-else="" class="icon" src="img/speed/lights-1.png" style="width: 2.5vh; height: 1.5vh; top: 0.3vh; left: 0.1vh;">
                <img v-if="isVehicleDoors" class="icon" src="img/speed/lock_on-1.png" style="width: 2.5vh; height: 1.6vh; top: 0.15vh;">
                <img v-else="" class="icon" src="img/speed/lock-1.png" style="width: 2.5vh; height: 1.6vh; top: 0.15vh;">
                <img v-if="isVehicleKey" class="icon" src="img/speed/key_on-1.png" style="width: 2.5vh; height: 1.7vh; top: 0.1vh;">
                <img v-else="" class="icon" src="img/speed/key-1.png" style="width: 2.5vh; height: 1.7vh; top: 0.1vh;">
            </div>
            <svg class="progress-vehicle-fuel" viewbox="0 0 100 320" fill="none" xmlns="http://www.w3.org/2000/svg" transform="rotate(-13.5)">
                <path d="M41.8301 312C17.8305 276.5 -4.2306 204.241 13.3311 134C24.832 88 51.8336 39 95.832 5" stroke="#141414cb" stroke-opacity="0.5" stroke-width="8"></path>
                <path id="progress-vehicle-fuel" d="M41.8301 312C17.8305 276.5 -4.2306 204.241 13.3311 134C24.832 88 51.8336 39 95.832 5" stroke="#f23856" stroke-width="8" style="stroke-dasharray: 500; stroke-dashoffset: 500;"></path>
            </svg>
            <div class="vehicle-fuel-block">
                <div class="vehicle-fuel">{{ vehicleFuel }} л</div>
                <img class="vehicle-fuel-icon" src="img/fuel-1.svg">
            </div>
            <svg class="progress-vehicle-health" viewbox="0 0 100 320" fill="none" xmlns="http://www.w3.org/2000/svg" transform="scale(-1, 1) rotate(-13.5)">
                <path d="M41.8301 312C17.8305 276.5 -4.2306 204.241 13.3311 134C24.832 88 51.8336 39 95.832 5" stroke="#141414cb" stroke-opacity="0.5" stroke-width="8"></path>
                <path id="progress-vehicle-health" d="M41.8301 312C17.8305 276.5 -4.2306 204.241 13.3311 134C24.832 88 51.8336 39 95.832 5" stroke="#f23856" stroke-width="8" style="stroke-dasharray: 500; stroke-dashoffset: 500;"></path>
            </svg>
            <div class="vehicle-health-block">
                <img class="vehicle-health-icon" src="img/gears-1.png">
                <div class="vehicle-health">{{ vehicleHealth }} %</div>
            </div>
        </div>
    </div>

	
   <div id="speed-car" style="display: none;">
        <img id="speed-back" src="img/speed_back.png" width="500px" alt="">
        <div id="speed-text">100<div class="kmh">км/ч</div></div>

        <div class="indicators">
            <!-- <img src="img/speed/engine.png" alt=""> -->
            <!-- <img style="filter: grayscale(1000%);" src="img/speed/engine.png" alt=""> -->
            <div class="indication-container">
                <img src="img/speed/health.png" alt="">
                <div class="indicator-text" id="chealth">82 %</div>
            </div>
            <div class="indication-container" style="margin-left: 0.5vw;">
                <img src="img/speed/fuel.png" alt="">
                <div class="indicator-text" id="fuel">100 л</div>
            </div>
            <div class="indication-container" style="margin-left: 1.2vw;">
                <img src="img/speed/icon.png" alt="">
                <div class="indicator-text" id="icon-car"></div>
            </div>            
        </div>         
        <div class="icon-key">
            <img id="key" src="img/speed/key.png" alt="">
        </div>            
        <div class="icon-lights">
            <img id="light" src="img/speed/lights.png" alt="">
        </div>             
        <div class="icon-lock">
            <img id="lock" src="img/speed/lock.png" alt="">
        </div>             
        <div class="icon-engine">
            <img id="engine" src="img/speed/engine.png" alt="">
        </div>
    </div>
    <div id="notify-center" style="display: none;">
        <img src="img/notify/icon1.png" id="notify-center-img" alt="">
        <div id="notify-center-text"></div>
    </div>
    <div id="notify-bock-frame">                     
    </div>           
    <div id="key-help" style="display: none;">
        <div id="key-help-name">ПРобел</div>
        <div id="key-help-text">Bзять рабочий транспорт</div>
    </div>
    <div id="spectate-menu" style="display: none;">
        <div class="dialogHeader">Панель наблюдения</div>
        <div id="spectate-menu-row">
            <div id="spectate-menu-row-name">Никнейм [UID, ID]</div>
            <div class="spectate-menu-row-value" id="spectate-player-1">Anton Basov [#11248, 48 ID]</div>
        </div>
        <div id="spectate-menu-row">
            <div id="spectate-menu-row-name">Ping</div>
            <div class="spectate-menu-row-value" id="spectate-player-2">30 ms</div>
        </div>        
        <div id="spectate-menu-row">
            <div id="spectate-menu-row-name">FPS</div>
            <div class="spectate-menu-row-value" id="spectate-player-3">29</div>
        </div>             
        <div id="spectate-menu-row">
            <div id="spectate-menu-row-name">Состояние</div>
            <div class="spectate-menu-row-value" id="spectate-player-4">1</div>
        </div>  
        <div id="spectate-menu-row">
            <div id="spectate-menu-row-name">Здоровье</div>
            <div class="spectate-menu-row-value" id="spectate-player-5">100.0 HP</div>
        </div>     
        <div id="spectate-menu-row">
            <div id="spectate-menu-row-name">Броня</div>
            <div class="spectate-menu-row-value" id="spectate-player-6">100.0 ARM</div>
        </div>    
        <div id="spectate-menu-row">
            <div id="spectate-menu-row-name">VW / INT</div>
            <div class="spectate-menu-row-value" id="spectate-player-7">6 / 0</div>
        </div>         
        <div id="spectate-menu-row">
            <div id="spectate-menu-row-name">Позиция</div>
            <div class="spectate-menu-row-value" id="spectate-player-8">0.0, 0.0, 0.0</div>
        </div>                   
        <div id="spectate-menu-row">
            <div id="spectate-menu-row-name">Скорость</div>
            <div class="spectate-menu-row-value" id="spectate-player-9">0 км/ч</div>
        </div>                     
        <div id="spectate-menu-row">
            <div id="spectate-menu-row-name">Время [МСК]</div>
            <div class="spectate-menu-row-value" id="spectate-player-10">04.02.2023 12:36:31</div>
        </div>                 
    </div>
    <div id="fps" style="display: none;">30 FPS</div>
    <script src="Relays-rp.ru.js"></script>
    <script src="js/dialog.js"></script>
    <script src="js/spectate.js"></script>
    <script src="js/speed1.js"></script>
    <script src="sneg.js"></script>
</body>
</html>
