#spectate-menu {
    font-family: Proxima Nova Sm;
    position: absolute;

    bottom: 5%;
    /* top: /5%; */
    background-color: #fcfcfc;
    width: 20vw;
    font-size: 0.95vw;
    border-radius: 0.6vw;
    right: 1%;
    padding: 1vw 1.2vw;
}

#spectate-menu-row {
    background-color: #f5f6f7;
    display: flex;
    font-size: 0.75vw;
    border-radius: 0.2vw;
    margin-top: 0.3vw;
    justify-content: space-between;
    padding: 0.5vw 0.7vw;
    border: 1px solid rgba(0, 0, 0, 0.15);
    /* border-bottom: 0; */
}

#spectate-menu-row:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

#spectate-menu-row-name {
    text-transform: uppercase;
    opacity: 0.7;
}