#speed-car {
    position: absolute;
    right: 0.05vw;
    bottom: 0.05vw;
}

#speed-text {
    font-family: 'Font 700';
    color: #ffffff;
    position: absolute;
    right: 4vw;
    bottom: 4.8vw;
    font-size: 2.5vw;
    text-align: center;
    line-height: 1.5vw;
}

.kmh {
    font-size: 0.85vw;
    color: rgba(255, 255, 255, 0.384);
}

.indicators {
    position: absolute;
    bottom: 1.3vw;
    left: 0.9vw;
}

.indication-container {
    margin-top: 0.7vw;
    display: flex;
    align-items: center;
    font-family: 'Font 700';
    color: #fff;
}

#speed-back {
    width: 30vw;
}

.icon-engine, .icon-lock, .icon-key, .icon-lights {
    position: absolute;
}

@media (max-width: 1920px){
    #speed-text {
        right: 4vw;
        bottom: 4.8vw;
        width: 100px;
        font-size: 2.5vw;
    } 
    .indicators {
        bottom: 1.3vw;
        left: 0.9vw;
    }
    .icons-speed {
        bottom: 2vw;
        right: 12.5vw;
    }
    .icon-engine {
        bottom: 1vw;
        right: 11.8vw;
    }
    .icon-lock {
        bottom: 7.2vw;
        right: 13vw;
    }
    .icon-lights {
        bottom: 12.5vw;
        right: 9vw;
    }
    .icon-key {
        bottom: 13vw;
        right: 2vw;
    }
}

@media(max-width: 1366px){
    #speed-text {
        right: 4vw;
        bottom: 4.8vw;
        width: 70px;
        font-size: 2.8vw;
    }     
    .indicators {
        bottom: 1.3vw;
        left: 0.9vw;
        font-size: 1.1vw;
    }
    .indicators img {
        width: 2.7vw;
    }
    .icons-speed {
        bottom: 2vw;
        right: 12.5vw;
    }
    .icon-engine {
        bottom: 1vw;
        right: 11.8vw;
    }
    .icon-lock {
        bottom: 7.2vw;
        right: 13vw;
    }
    .icon-lights {
        bottom: 12.65vw;
        right: 9vw;
    }
    .icon-key {
        bottom: 13vw;
        right: 2vw;
    }    
    .icon-key img {
        width: 2.5vw;
    }
    .icon-lights img {
        width: 2.5vw;
    }
    .icon-lock img {
        width: 2.5vw;
    }
    .icon-engine img {
        width: 2.5vw;
    }            
}

@media (max-width: 1280px){
    #speed-text {
        right: 4vw;
        width: 65px;
        bottom: 4.8vw;
        font-size: 2.8vw;
    }     
    .indicators {
        bottom: 1.3vw;
        left: 0.9vw;
        font-size: 1.1vw;
    }
    .indicators img {
        width: 2.7vw;
    }
    .icon-engine {
        bottom: 1vw;
        right: 11.8vw;
    }
    .icon-lock {
        bottom: 7.2vw;
        right: 13vw;
    }
    .icon-lights {
        bottom: 12.65vw;
        right: 9vw;
    }
    .icon-key {
        bottom: 13vw;
        right: 2vw;
    }    
    .icon-key img {
        width: 2.5vw;
    }
    .icon-lights img {
        width: 2.5vw;
    }
    .icon-lock img {
        width: 2.5vw;
    }
    .icon-engine img {
        width: 2.5vw;
    }        
}