.offer-notification {
    position: relative;
  }
  .offer-notification .notifications {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1.5vh 0 1vh 1.5vh;
    margin-bottom: 0.5vh;
    min-width: 36.2vh;
    background: rgba(10.63, 10.63, 10.63, 0.5);
    border-radius: 0.6557377049180327vh;
    animation: showNotification 1s forwards;
    -webkit-animation: showNotification 1s forwards;
    -moz-animation: showNotification 1s forwards;
  }
  .offer-notification .notifications .info-block {
    display: flex;
    position: relative;
  }
  .offer-notification .notifications .info-block .message {
    max-width: 28.5vh;
    font-family: Montserrat-SemiBold;
    font-size: 1.2885792349726777vh;
    text-align: left;
    color: white;
    flex: 1;
  }
  .offer-notification .notifications .info-block .timer-container .timer {
    width: 4.5vh;
    height: 4.5vh;
  }
  .offer-notification
    .notifications
    .info-block
    .timer-container
    .timer
    .timer-path-background {
    fill: none;
    stroke-width: 7;
  }
  .offer-notification
    .notifications
    .info-block
    .timer-container
    .timer
    .timer-path {
    fill: none;
    stroke-width: 7;
    stroke: rgba(255, 255, 255, 0.3);
    transition: stroke-dasharray 1s linear;
  }
  .offer-notification
    .notifications
    .info-block
    .timer-container
    .timer
    .timer-text {
    font-family: Montserrat-SemiBold;
    font-size: 4vh;
    fill: white;
    text-anchor: middle;
    dominant-baseline: central;
  }
  .offer-notification .notifications .button-block {
    display: flex;
    position: relative;
    margin-top: 1vh;
  }
  .offer-notification .notifications .button-block .button {
    position: relative;
    display: flex;
    align-items: center;
    font-family: Montserrat-SemiBold;
    font-size: 1.1885792349726777vh;
    text-align: left;
    color: white;
  }
  .offer-notification .notifications .button-block .button .key {
    display: flex;
    position: relative;
    width: 3.278688524590164vh;
    height: 3.278688524590164vh;
    border-radius: 0.546448087431694vh;
    font-family: Montserrat-SemiBold;
    font-size: 1.5vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin-right: 1vh;
  }
  .offer-notification .notifications .button-block .button .green {
    background: #02a85e;
    box-shadow: 0 0 0.7650273224043715vh rgba(2, 168, 94, 0.5);
  }
  .offer-notification .notifications .button-block .button .yellow {
    background: #e77d00;
    box-shadow: 0 0 0.7650273224043715vh rgba(244,169,0, 0.5);
  }
  .offer-notification .notifications .button-block .button .wanted {
    background: #1d1546;
    box-shadow: 0 0 0.7650273224043715vh rgba(29, 21, 70, 0.5);
  }
  .offer-notification .notifications .button-block .button .red {
    background: #f70f41;
    box-shadow: 0 0 0.7650273224043715vh rgba(247, 15, 65, 0.5);
  }
  .offer-notification .notifications .button-block .button .blue {
    background: #468acb;
    box-shadow: 0 0 0.7650273224043715vh rgba(70, 139, 203, 0.438);
  }
  @keyframes showNotification {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-moz-keyframes showNotification {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes showNotification {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .notifications-container {
    display: inline-block;
    position: absolute;
    right: 3vh;
    top: 35vh;
  }
  .notifications-container .hud-notifications {
    position: relative;
    margin-top: 0.5vh;
  }
  .notifications-container .hud-notifications .notifications {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1.5vh 2vh;
    margin-bottom: 0.5vh;
    min-width: 36vh;
    background: linear-gradient(
      90deg,
      rgba(12.19, 108.38, 55.78, 0.9) 22%,
      rgba(12, 108, 56, 0) 100%
    );
    border-radius: 0.6557377049180327vh;
    animation: showNotification 1s forwards;
    -webkit-animation: showNotification 1s forwards;
    -moz-animation: showNotification 1s forwards;
    justify-content: space-between;
  }
  .notifications-container .hud-notifications .notifications .content {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
  }
  .notifications-container .hud-notifications .notifications img {
    position: absolute;
    width: 4vh;
    top: 50%;
    transform: translateY(-50%);
    right: 0.5vh;
    filter: drop-shadow(
      0 0 1.092896174863388vh rgba(0, 0, 0, 0.4999999761581421)
    );
  }
  .notifications-container .hud-notifications .notifications .message {
    font-family: Montserrat-SemiBold;
    font-size: 1.2885792349726777vh;
    text-align: left;
    color: white;
    flex-grow: 1;
    margin-top: 0.2vh;
  }
  .notifications-container .hud-notifications .notifications .time {
    position: absolute;
    font-family: europe-bold;
    font-size: 2.1vh;
    text-align: right;
    color: white;
    filter: drop-shadow(
      0 0 1.092896174863388vh rgba(0, 0, 0, 0.8999999761581421)
    );
    right: 0.5vh;
  }
  .notifications-container .hud-notifications .red {
    background: linear-gradient(
      90deg,
      rgba(205, 30, 59, 0.9) 30%,
      rgba(205, 30, 59, 0) 100%
    );
  }
  .notifications-container .hud-notifications .green {
    background: linear-gradient(
      90deg,
      rgba(12.19, 108.38, 55.78, 0.9) 30%,
      rgba(68, 181, 96, 0) 100%
    );
  }
  .notifications-container .hud-notifications .artichoke {
    background: linear-gradient(
      90deg,
      rgba(137, 136, 92, 0.9) 30%,
      rgba(137, 136, 92, 0) 100%
    );
  }
  .notifications-container .radar-notifications {
    position: fixed;
    margin-top: 1vh;
    left: 11.5vh;
    bottom: 27.5vh;
  }
  .notifications-container .radar-notifications .notifications {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1.3vh 2vh;
    margin-bottom: 0.5vh;
    min-width: 32vh;
    background: linear-gradient(
      90deg,
      rgba(12.19, 108.38, 55.78, 0.9) 22%,
      rgba(12, 108, 56, 0) 100%
    );
    border-radius: 0.6557377049180327vh;
    animation: showNotification 1s forwards;
    -webkit-animation: showNotification 1s forwards;
    -moz-animation: showNotification 1s forwards;
    white-space: pre-wrap;
  }
  .notifications-container .radar-notifications .notifications .content {
    display: flex;
    justify-content: space-between;
  }
  .notifications-container .radar-notifications .notifications .img-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 5vh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 0.6557377049180327vh;
    border-bottom-left-radius: 0.6557377049180327vh;
  }
  .notifications-container .radar-notifications .notifications .img-block img {
    width: 2.8vh;
    filter: drop-shadow(
      0 0 1.092896174863388vh rgba(0, 0, 0, 0.4999999761581421)
    );
  }
  .notifications-container .radar-notifications .red-block {
    background: rgba(143.44, 1.2, 28.37, 0.8);
  }
  .notifications-container .radar-notifications .green-block {
    background: rgba(9.68, 86.06, 44.29, 0.8);
  }
  .notifications-container .radar-notifications .notifications .m2 {
    margin-left: 4.5vh;
  }
  .notifications-container .radar-notifications .notifications .message {
    font-family: Montserrat-SemiBold;
    font-size: 1.2385792349726777vh;
    text-align: left;
    color: white;
    margin-top: 0.5vh;
    flex-grow: 1;
  }
  .notifications-container .radar-notifications .notifications .time {
    font-family: europe-bold;
    font-size: 1.9vh;
    text-align: right;
    color: white;
    filter: drop-shadow(
      0 0 1.092896174863388vh rgba(0, 0, 0, 0.8999999761581421)
    );
    margin-left: 2.5vh;
  }
  .notifications-container .radar-notifications .red {
    background: linear-gradient(
      90deg,
      rgba(205, 30, 59, 0.9) 30%,
      rgba(205, 30, 59, 0) 100%
    );
  }
  .notifications-container .radar-notifications .wanted {
    background: linear-gradient(
      90deg,
      rgb(29, 21, 70) 30%,
      rgba(205, 30, 59, 0) 100%
    );
  }
  .notifications-container .radar-notifications .yellow {
    background: linear-gradient(
      90deg,
      rgb(231, 125, 0) 30%,
      rgba(205, 30, 59, 0) 100%
    );
  }
  .notifications-container .radar-notifications .green {
    background: linear-gradient(
      90deg,
      rgba(12.19, 108.38, 55.78, 0.9) 30%,
      rgba(68, 181, 96, 0) 100%
    );
  }
  .notifications-container .radar-notifications .artichoke {
    background: linear-gradient(
      90deg,
      rgba(137, 136, 92, 0.9) 30%,
      rgba(137, 136, 92, 0) 100%
    );
  }
  .notifications-container .welcome-notifications {
    position: fixed;
    margin-top: 1vh;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .notifications-container .welcome-notifications .notifications {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1.5vh 10vh;
    margin-bottom: 0.5vh;
    min-width: 40vh;
    background: linear-gradient(
      90deg,
      rgba(12.19, 108.38, 55.78, 0) 0,
      rgba(12.19, 108.38, 55.78, 0.6) 30%,
      rgba(12.19, 108.38, 55.78, 0.8) 50%,
      rgba(12.13, 108.26, 55.84, 0.6) 70%,
      rgba(12, 108, 56, 0) 100%
    );
    border-radius: 0.6557377049180327vh;
    animation: showNotification 1s forwards;
    -webkit-animation: showNotification 1s forwards;
    -moz-animation: showNotification 1s forwards;
    white-space: pre-wrap;
  }
  .notifications-container .welcome-notifications .notifications .content {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
  }
  .notifications-container .welcome-notifications .notifications .header {
    font-family: "europe-bolditalic";
    font-size: 3.3vh;
    text-align: center;
    color: white;
    margin-top: 1vh;
    margin-bottom: -1.5vh;
  }
  .notifications-container .welcome-notifications .notifications .message {
    position: relative;
    font-family: Montserrat-Medium;
    font-size: 1.4vh;
    text-align: center;
    color: white;
    margin-bottom: 1vh;
  }
  .notifications-container .helpkey-notifications {
    position: fixed;
    margin-top: 1vh;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .notifications-container .helpkey-notifications .notifications {
    display: flex;
    flex-direction: column;
    width: max-content;
    position: relative;
    padding: 1.5vh 0vh;
    margin: 0 auto;
    animation: showNotification 1s forwards;
    -webkit-animation: showNotification 1s forwards;
    -moz-animation: showNotification 1s forwards;
  }
  .notifications-container .helpkey-notifications .notifications .content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .notifications-container .helpkey-notifications .notifications .content::after {
    content: "";
    display: block;
    height: 0.2vh;
    width: calc(100% - 2vh);
    background: #e0e0de;
    filter: drop-shadow(0vh 0vh 0.6557377049180327vh rgba(0, 0, 0, 0.5));
    position: absolute;
    bottom: 0.3vh;
    left: 1vh;
  }
  .notifications-container
    .helpkey-notifications
    .notifications
    .content
    .message {
    font-family: Montserrat-SemiBold;
    font-size: 1.585792349726776vh;
    text-align: center;
    margin-left: 0.5vh;
    text-shadow: rgba(0, 0, 0, 0.8999999761581421) 0 0 1.092896174863388vh;
    color: white;
  }
  .notifications-container .helpkey-notifications .notifications .content .key {
    position: relative;
    padding: 0.4vh 1vh 0.3vh 1vh;
    text-align: center;
    font-size: 1.6vh;
    font-family: Montserrat-SemiBold;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 0.573224043715847vh;
    overflow: hidden;
    color: #fff;
  }
  .notifications-container .center-notifications {
    position: fixed;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .notifications-container .center-notifications .notifications {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: showNotification 1s forwards;
    -webkit-animation: showNotification 1s forwards;
    -moz-animation: showNotification 1s forwards;
  }
  .notifications-container .center-notifications .notifications .content {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
  }
  .notifications-container .center-notifications .notifications img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 8vh;
    filter: drop-shadow(
      0 0 1.092896174863388vh rgba(0, 0, 0, 0.4999999761581421)
    );
  }
  .notifications-container .center-notifications .notifications .message {
    font-family: Montserrat-Bold;
    font-size: 1.6vh;
    text-align: center;
    padding-top: 9vh;
    text-shadow: rgba(0, 0, 0, 0.4999999761581421) 0 0 1.092896174863388vh;
  }
  .type-1 {
    color: #00b7ce;
  }
  .type-2 {
    color: #ff256a;
  }
  .type-3 {
    color: #ff831a;
  }
  .type-4 {
    color: #ffffff;
  }
  .type-5 {
    color: #00cb56;
  }
  .notifications-container .wanteds-notifications {
    position: fixed;
    margin-top: 1vh;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .notifications-container .wanteds-notifications .notifications {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1.5vh 10vh;
    margin-bottom: 0.5vh;
    min-width: 40vh;
    background: linear-gradient(
    90deg,
    rgba(12.19, 108.38, 55.78, 0) 0,
    rgba(28, 22, 66, 0.882) 30%,
    rgba(28, 22, 66, 0.882) 50%,
    rgba(28, 22, 66, 0.918) 70%,
    rgba(12, 108, 56, 0) 100%
    );
    border-radius: 0.6557377049180327vh;
    animation: showNotification 1s forwards;
    -webkit-animation: showNotification 1s forwards;
    -moz-animation: showNotification 1s forwards;
    white-space: pre-wrap;
  }
  .notifications-container .wanteds-notifications .notifications .content {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
  }
  .notifications-container .wanteds-notifications .notifications .header {
    font-family: "europe-bolditalic";
    font-size: 3.3vh;
    text-align: center;
    color: white;
    margin-top: 1vh;
    margin-bottom: -1.5vh;
  }
  .notifications-container .wanteds-notifications .notifications .message {
    position: relative;
    font-family: Montserrat-Medium;
    font-size: 1.4vh;
    text-align: center;
    color: white;
    margin-bottom: 1vh;
  }
  .notifications-container .fine-notifications {
    position: fixed;
    margin-top: 1vh;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .notifications-container .fine-notifications .notifications {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1.5vh 10vh;
    margin-bottom: 0.5vh;
    min-width: 40vh;
    background: linear-gradient(
    90deg,
    rgba(220, 20, 63, 0.0) 0,
    rgba(220, 20, 63, 0.6) 30%,
    rgba(220, 20, 64, 0.8) 50%,
    rgba(220, 20, 63, 0.6) 70%,
    rgba(220, 20, 63, 0.0) 100%
    );
    border-radius: 0.6557377049180327vh;
    animation: showNotification 1s forwards;
    -webkit-animation: showNotification 1s forwards;
    -moz-animation: showNotification 1s forwards;
    white-space: pre-wrap;
  }
  .notifications-container .fine-notifications .notifications .content {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
  }
  .notifications-container .fine-notifications .notifications .header {
    font-family: "europe-bolditalic";
    font-size: 3.3vh;
    text-align: center;
    color: white;
    margin-top: 1vh;
    margin-bottom: -1.5vh;
  }
  .notifications-container .fine-notifications .notifications .message {
    position: relative;
    font-family: Montserrat-Medium;
    font-size: 1.4vh;
    text-align: center;
    color: white;
    margin-bottom: 1vh;
  }
  .notifications-container .blues-notifications {
    position: fixed;
    margin-top: 1vh;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .notifications-container .blues-notifications .notifications {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1.5vh 10vh;
    margin-bottom: 0.5vh;
    min-width: 40vh;
    background: linear-gradient(
    90deg,
    rgba(63, 146, 223, 0.0) 0,
    rgba(63, 146, 223, 0.6) 30%,
    rgba(63, 145, 223, 0.8) 50%,
    rgba(63, 146, 223, 0.6) 70%,
    rgba(63, 146, 223, 0.0) 100%
    );
    border-radius: 0.6557377049180327vh;
    animation: showNotification 1s forwards;
    -webkit-animation: showNotification 1s forwards;
    -moz-animation: showNotification 1s forwards;
    white-space: pre-wrap;
  }
  .notifications-container .blues-notifications .notifications .content {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
  }
  .notifications-container .blues-notifications .notifications .header {
    font-family: "europe-bolditalic";
    font-size: 3.3vh;
    text-align: center;
    color: white;
    margin-top: 1vh;
    margin-bottom: -1.5vh;
  }
  .notifications-container .blues-notifications .notifications .message {
    position: relative;
    font-family: Montserrat-Medium;
    font-size: 1.4vh;
    text-align: center;
    color: white;
    margin-bottom: 1vh;
  }
  