.buttonspector1 {
	position: relative;
	  box-shadow:inset 0px 1px 3px 0px #f2143d;
	  background-color:#f2143d;
	  border-radius:6px;
	  display:inline-block;
	  color:#ffffff;
	  font-family: Montserrat-SemiBold;
	  font-size:15px;
	  font-weight:bold;
	  padding:18px 36px;
	  text-decoration:none;
	box-shadow: 0px 12px 53px 4px rgba(242, 20, 61, 0.2);
	bottom: -80.9vh;
	right: -100vh;
  }
  .buttonspector1:active {
	  padding:17px 35px;
	background-color:#c71032;
  }
  .buttonspector2 {
	position: relative;
	  box-shadow:inset 0px 1px 3px 0px #f2143d;
	  background-color:#f2143d;
	  border-radius:6px;
	  display:inline-block;
	  color:#ffffff;
	  font-family: Montserrat-SemiBold;
	  font-size:15px;
	  font-weight:bold;
	  padding:18px 36px;
	  text-decoration:none;
	box-shadow: 0px 12px 53px 4px rgba(242, 20, 61, 0.2);
	bottom: -87.2vh;
	right: -77.5vh;
  }
  .buttonspector2:active {
	  padding:17px 35px;
	background-color:#c71032;
  }
  .buttonspector3 {
	position: relative;
	  box-shadow:inset 0px 1px 3px 0px #f2143d;
	  background-color:#f2143d;
	  border-radius:6px;
	  display:inline-block;
	  color:#ffffff;
	  font-family: Montserrat-SemiBold;
	  font-size:15px;
	  font-weight:bold;
	  padding:18px 36px;
	  text-decoration:none;
	box-shadow: 0px 12px 53px 4px rgba(242, 20, 61, 0.2);
	bottom: -87.2vh;
	right: -77.5vh;
  }
  .buttonspector3:active {
	  padding:17px 35px;
	background-color:#c71032;
  }
  .buttonspector4 {
	position: relative;
	  box-shadow:inset 0px 1px 3px 0px #f2143d;
	  background-color:#f2143d;
	  border-radius:6px;
	  display:inline-block;
	  color:#ffffff;
	  font-family: Montserrat-SemiBold;
	  font-size:15px;
	  font-weight:bold;
	  padding:18px 36px;
	  text-decoration:none;
	box-shadow: 0px 12px 53px 4px rgba(242, 20, 61, 0.2);
	bottom: -87.2vh;
	right: -27.2vh;
  }
  .buttonspector4:active {
	  padding:17px 35px;
	background-color:#c71032;
  }
  .buttonspector5 {
	position: relative;
	  box-shadow:inset 0px 1px 3px 0px #f2143d;
	  background-color:#f2143d;
	  border-radius:6px;
	  display:inline-block;
	  color:#ffffff;
	  font-family: Montserrat-SemiBold;
	  font-size:15px;
	  font-weight:bold;
	  padding:18px 36px;
	  text-decoration:none;
	box-shadow: 0px 12px 53px 4px rgba(242, 20, 61, 0.2);
	bottom: -80.9vh;
	right: -11.7vh;
  }
  .buttonspector5:active {
	  padding:17px 35px;
	background-color:#c71032;
  }
  .buttonspector6 {
	position: relative;
	  box-shadow:inset 0px 1px 3px 0px #f2143d;
	  background-color:#f2143d;
	  border-radius:6px;
	  display:inline-block;
	  color:#ffffff;
	  font-family: Montserrat-SemiBold;
	  font-size:15px;
	  font-weight:bold;
	  padding:18px 36px;
	  text-decoration:none;
	box-shadow: 0px 12px 53px 4px rgba(242, 20, 61, 0.2);
	bottom: -87.2vh;
	right: 29.5vh;
  }
  .buttonspector6:active {
	  padding:17px 35px;
	background-color:#c71032;
  }
  .buttonspector7 {
	position: relative;
	  box-shadow:inset 0px 1px 3px 0px #f2143d;
	  background-color:#f2143d;
	  border-radius:6px;
	  display:inline-block;
	  color:#ffffff;
	  font-family: Montserrat-SemiBold;
	  font-size:15px;
	  font-weight:bold;
	  padding:18px 36px;
	  text-decoration:none;
	box-shadow: 0px 12px 53px 4px rgba(242, 20, 61, 0.2);
	bottom: -80.9vh;
	right: 45.7vh;
  }
  .buttonspector7:active {
	  padding:17px 35px;
	background-color:#c71032;
  }
  .buttonspector8 {
	position: relative;
	  box-shadow:inset 0px 1px 3px 0px #f2143d;
	  background-color:#f2143d;
	  border-radius:6px;
	  display:inline-block;
	  color:#ffffff;
	  font-family: Montserrat-SemiBold;
	  font-size:15px;
	  font-weight:bold;
	  padding:18px 36px;
	  text-decoration:none;
	box-shadow: 0px 12px 53px 4px rgba(242, 20, 61, 0.2);
	bottom: -80.9vh;
	right: 86.7vh;
  }
  .buttonspector8:active {
	  padding:17px 35px;
	background-color:#c71032;
  }
  .buttonspector9 {
	position: relative;
	  box-shadow:inset 0px 1px 3px 0px #f2143d;
	  background-color:#f2143d;
	  border-radius:6px;
	  display:inline-block;
	  color:#ffffff;
	  font-family: Montserrat-SemiBold;
	  font-size:15px;
	  font-weight:bold;
	  padding:18px 44px;
	  text-decoration:none;
	box-shadow: 0px 12px 53px 4px rgba(242, 20, 61, 0.2);
	bottom: -87.2vh;
	right: 107.4vh;
  }
  .buttonspector9:active {
	  padding:17px 43px;
	background-color:#c71032;
  }
  .buttonspector10 {
	position: relative;
	  box-shadow:inset 0px 1px 3px 0px #969091;
	  background-color:#969091;
	  border-radius:6px;
	  display:inline-block;
	  color:#ffffff;
	  font-family: Montserrat-SemiBold;
	  font-size:15px;
	  font-weight:bold;
	  padding:18px 31px;
	  text-decoration:none;
	box-shadow: 0px 12px 53px 4px rgba(242, 20, 61, 0.2);
	bottom: -80.9vh;
	right: 43.3vh;
  }
  .buttonspector10:active {
	  padding:17px 30px;
	background-color:#696566;
  }