/*             GRAFF_GRIFFIN            */
/*             GRAFF_GRIFFIN            */
/*             GRAFF_GRIFFIN            */
/*             GRAFF_GRIFFIN            */
/*             GRAFF_GRIFFIN            */
/*             GRAFF_GRIFFIN            */
/*             GRAFF_GRIFFIN            */
/*             GRAFF_GRIFFIN            */
/*             GRAFF_GRIFFIN            */
/*             GRAFF_GRIFFIN            */
/*             GRAFF_GRIFFIN            */
/*             GRAFF_GRIFFIN            */
/*             GRAFF_GRIFFIN            */
/*             GRAFF_GRIFFIN            */
/*             GRAFF_GRIFFIN            */
/*             GRAFF_GRIFFIN            */
/*             GRAFF_GRIFFIN            */
/*             GRAFF_GRIFFIN            */
/*             GRAFF_GRIFFIN            */
/*             GRAFF_GRIFFIN            */
/*             GRAFF_GRIFFIN            */
/*             GRAFF_GRIFFIN            */
/*             GRAFF_GRIFFIN            */
/*             GRAFF_GRIFFIN            */
/*             GRAFF_GRIFFIN            */
/*             GRAFF_GRIFFIN            */
/*             GRAFF_GRIFFIN            */
/*             GRAFF_GRIFFIN            */
/*             GRAFF_GRIFFIN            */
/*             GRAFF_GRIFFIN            */
/*             GRAFF_GRIFFIN            */
/*             GRAFF_GRIFFIN            */
/*             GRAFF_GRIFFIN            */
/*             GRAFF_GRIFFIN            */
/*             GRAFF_GRIFFIN            */
/*             GRAFF_GRIFFIN            */
/*             GRAFF_GRIFFIN            */
/*             GRAFF_GRIFFIN            */
/*             GRAFF_GRIFFIN            */
/*             GRAFF_GRIFFIN            */
/*             GRAFF_GRIFFIN            */
@font-face {
    font-family: 'Font-spec 001';
    src: url('arial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Font-spec 002';
    src: url('Montserrat-LightItalic.html') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Font-spec 003';
    src: url('Montserrat-Regular.html') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Font-spec 004';
    src: url('Montserrat-Medium.html') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Font-spec 005';
    src: url('Montserrat-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Font-spec 006';
    src: url('Montserrat-Bold.html') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Font-spec 007';
    src: url('Montserrat-ExtraBold.html') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Font-spec 008';
    src: url('Montserrat-BoldItalic.html') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Font-spec 009';
    src: url('Montserrat-ExtraBoldItalic.html') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Font-spec 010';
    src: url('MuseoSansCyrl-700Italic.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'Font-spec 011';
    src: url('europe-bold.html') format('truetype');
    font-style: italic;
}
@font-face {
    font-family: 'Font-spec 012';
    src: url('europe-italic.html') format('truetype');
    font-style: italic;
}


@font-face {
    font-family: 'Font-spec 013';
    src: url('europe-bolditalic.ttf') format('truetype');
    font-style: italic;
}
